<?xml version="1.0"?>

<model>
  <name>VSS Field</name>
  <version>1.1</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Felipe Gomes de Melo</name>
    <email>felipe.gomes@thunderatz.org</email>
  </author>

  <description>
    A IEEE - Very Small Size Soccer used for 3x3 matches.
    URDF file and meshes were generated with SW2URDF extension, please see http://wiki.ros.org/sw_urdf_exporter
  </description>
</model>
