<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="hat_colors" params="team_color robot_color">

        <gazebo reference="chapeu_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="tile_sup_esq_link">
            <material>${team_color}</material>
        </gazebo>

        <gazebo reference="tile_inf_dir_link">
            <material>${robot_color}</material>
        </gazebo>

        <gazebo reference="tile_sup_dir_link">
            <material>${robot_color}</material>
        </gazebo>

        <gazebo reference="tile_inf_esq_link">
            <material>${robot_color}</material>
        </gazebo>
    </xacro:macro>

</robot>