<?xml version="1.0" encoding="utf-8"?>

<!-- Here we have the definition of a simple continuous motor
  with a mechanical reduction
  Ref: https://www.pololu.com/product/3064-->

<!-- Ref: Item 7.
  https://wiki.ros.org/urdf/Tutorials/Using%20a%20URDF%20in%20Gazebo -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="motor" params="side gear_rate">
    <transmission name="trans_${side}_trans">

      <type>transmission_interface/SimpleTransmission</type>

      <actuator name="motor_${side}_actuator">
        <mechanicalReduction>${gear_rate}</mechanicalReduction>
      </actuator>

      <joint name="roda_${side}_joint">
        <!-- <limit effort="30" velocity="1.0" lower="-2.2" upper="0.7" /> -->
        <limit effort="11e-3" velocity="100" />
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>

    </transmission>
  </xacro:macro>

</robot>