<?xml version="1.0" encoding="utf-8"?>

<robot name="vss_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find vss_robot)/urdf/vss_robot.gazebo" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find vss_robot)/urdf/materials.xacro" />

  <!-- Code exported from SolidWorks -->
  <xacro:include filename="$(find vss_robot)/urdf/vss_robot.urdf" />

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
</robot>