<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="robot_number" default="0" />
    <xacro:property name="robot_number" value="$(arg robot_number)" />

    <!-- Set common colors -->
    <gazebo reference="tile_sup_dir_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tile_inf_esq_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="tile_inf_dir_link">
        <material>Gazebo/Yellow</material>
    </gazebo>

    <!-- Set specific colors -->
    <xacro:if value="${robot_number == 0}">

        <gazebo reference="chapeu_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="tile_sup_esq_link">
            <material>Gazebo/Purple</material>
        </gazebo>

    </xacro:if>

    <xacro:if value="${robot_number == 1}">

        <gazebo reference="chapeu_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="tile_sup_esq_link">
            <material>Gazebo/Orange</material>
        </gazebo>

    </xacro:if>

    <xacro:if value="${robot_number == 2}">

        <gazebo reference="chapeu_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="tile_sup_esq_link">
            <material>Gazebo/Green</material>
        </gazebo>

    </xacro:if>

</robot>
