<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="robot_number" default="0" />
    <xacro:arg name="team_number" default="0" />
    <xacro:property name="robot_number" value="$(arg robot_number)" />
    <xacro:property name="team_number" value="$(arg team_number)" />
    <xacro:include filename="$(find vss_simulation)/urdf/hat_colors.xacro"/>

    <!-- Set team configuration -->
    <xacro:if value="${team_number == 0}">

        <gazebo reference="corpo">
            <material>Gazebo/White</material>
        </gazebo>

        <gazebo reference="roda_dir_link">
            <material>Gazebo/Green</material>
        </gazebo>

        <gazebo reference="roda_esq_link">
            <material>Gazebo/Green</material>
        </gazebo>

        <!-- Set robots colors -->
        <xacro:if value="${robot_number == 1}">
            <xacro:hat_colors team_color="Gazebo/Yellow" robot_color="Gazebo/Purple" />
        </xacro:if>

        <xacro:if value="${robot_number == 2}">
            <xacro:hat_colors team_color="Gazebo/Yellow" robot_color="Gazebo/Red" />
        </xacro:if>

        <xacro:if value="${robot_number == 3}">
            <xacro:hat_colors team_color="Gazebo/Yellow" robot_color="Gazebo/Green" />
        </xacro:if>  <!-- /Set robots colors -->

    </xacro:if> <!-- /Set team configuration -->

    <!-- Set team configuration -->
    <xacro:if value="${team_number == 1}">

        <gazebo reference="corpo">
            <material>Gazebo/Grey</material>
        </gazebo>

        <gazebo reference="roda_dir_link">
            <material>Gazebo/Red</material>
        </gazebo>

        <gazebo reference="roda_esq_link">
            <material>Gazebo/Red</material>
        </gazebo>

        <!-- Set robots colors -->
        <xacro:if value="${robot_number == 1}">
            <xacro:hat_colors team_color="Gazebo/Blue" robot_color="VSS/Wine" />
        </xacro:if>

        <xacro:if value="${robot_number == 2}">
            <xacro:hat_colors team_color="Gazebo/Blue" robot_color="Gazebo/Turquoise" />
        </xacro:if>

        <xacro:if value="${robot_number == 3}">
            <xacro:hat_colors team_color="Gazebo/Blue" robot_color="Gazebo/Indigo" />
        </xacro:if>  <!-- /Set robots colors -->

    </xacro:if> <!-- /Set team configuration -->

</robot>
