<?xml version="1.0" encoding="utf-8"?>

<robot name="vss_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_number" default="0" />
  <xacro:arg name="team_number" default="0" />
  <link name="base_link"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="corpo"/>
  </joint>

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find vss_simulation)/urdf/vss_robot.gazebo" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find vss_simulation)/urdf/materials.xacro" />

  <!-- Code exported from SolidWorks -->
  <xacro:include filename="$(find vss_simulation)/urdf/vss_robot.urdf" />

  <!-- Definition of motor -->
  <xacro:include filename="$(find vss_simulation)/urdf/motor.xacro"/>

  <xacro:motor side="esq" gear_rate="1"/>
  <xacro:motor side="dir" gear_rate="1"/>

</robot>