<launch>

  <!-- Load robot model -->
  <arg name="model" default="$(find vss_simulation)/urdf/vss_robot.xacro"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Load gazebo simulation -->
  <include file="$(find vss_simulation)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="debug" default="$(arg debug)"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="paused" default="$(arg paused)"/>
    <arg name="use_sim_time" default="$(arg use_sim_time)"/>
    <arg name="headless" default="$(arg headless)"/>
  </include>

  <!-- Display controllers to user -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/vss_robot_diff_drive_controller/cmd_vel"/>
  </node>

</launch>
