<launch>

  <!-- Load robot model -->
  <arg name="model" default="$(find vss_simulation)/urdf/generic_vss_robot.xacro"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="world_name" default="vss_field.world"/>
  <arg name="recording" default="false"/>

  <!-- Control option -->
  <arg name="keyboard" default="false"/>

  <!-- Load gazebo simulation -->
  <include file="$(find vss_simulation)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="recording" value="$(arg recording)"/>
  </include>

  <include file="$(find vss_simulation)/launch/spawn_team.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <group if="$(arg keyboard)">
    <node name="keyboard_controller" pkg="vss_simulation" type="keyboard_node.py"/>
  </group>

  <!-- NOTE: The namespace prefix for the topic name is set in the <gazebo>
    inside the generic_vss_robot.gazebo file -->

  <!-- Spawn robot #1 -->
  <group ns="robot1">
    <param name="tf_prefix" value="robot0_tf" />
    <include file="$(find vss_simulation)/launch/spawn_robot.launch" >
      <arg name="robot_number"  value="1" />
      <arg name="x" value="-0.2" />
      <arg name="y" value="0" />
      <arg name="model" value="$(arg model)" />
    </include>
  </group>

  <!-- Spawn robot #2 -->
  <group ns="robot2">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find vss_simulation)/launch/spawn_robot.launch" >
      <arg name="robot_number"  value="2" />
      <arg name="x" value="-0.5" />
      <arg name="y" value="0.3" />
      <arg name="model" value="$(arg model)" />
    </include>
  </group>

  <!-- Spawn robot #3 -->
  <group ns="robot3">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find vss_simulation)/launch/spawn_robot.launch" >
      <arg name="robot_number"  value="3" />
      <arg name="x" value="-0.5" />
      <arg name="y" value="-0.3" />
      <arg name="model" value="$(arg model)" />
    </include>
  </group>

</launch>
