<!-- Reference:
https://answers.ros.org/question/41433/multiple-robots-simulation-and-navigation/
http://wiki.ros.org/simulator_gazebo/Tutorials/Gazebo_ROS_API-->

<launch>

  <arg name="robot_number" default="0" />
  <arg name="team_number" default="0" />
  <arg name="robot_name" default="$(eval 'robot_'+str(team_number*3+robot_number))" />
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.04"/>
  <arg name="row" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>
  <arg name="model" default="$(find vss_simulation)/urdf/vss_robot.xacro"/>

  <param name="robot_description"
    command="$(find xacro)/xacro $(arg model)
                robot_number:=$(arg robot_number)
                team_number:=$(arg team_number)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg row) -P $(arg pitch) -Y $(arg yaw)
              -urdf -model $(arg robot_name) -param robot_description"
        respawn="false" output="screen" />

  <!-- Start tf state publishing node -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Load configs to publish the state of all joints -->
  <rosparam command="load"
            file="$(find vss_simulation)/config/joints.yaml" />

  <!-- Load configs to control robot motors -->
  <rosparam command="load"
          file="$(find vss_simulation)/config/motor_drive.yaml" />

  <node name="vss_robot_controller" pkg="controller_manager" type="spawner"
    args="vss_robot_left_controller
          vss_robot_right_controller
          vss_robot_joint_state_controller"/>

</launch>