<?xml version="1.0"?>

<model>
  <name>VSS Camera</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Felipe Gomes de Melo</name>
    <email>felipe.gomes@thunderatz.org</email>
  </author>

  <description>
    Simple camera to record images from the top of the field.
    In the future, maybe is better to merge this model with vss_field.
  </description>
</model>