<?xml version="1.0"?>

<model>
  <name>VSS Camera</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Felipe Gomes de Melo</name>
    <email>felipe.gomes@thunderatz.org</email>
  </author>

  <description>
    Simple camera to record images from the top of the field.
    Video generated with 800x600 @ 30 FPS
  </description>
</model>