<?xml version="1.0"?>

<model>
  <name>VSS Field for 5x5 matches</name>
  <version>1.1</version>
  <sdf version='1.0'>model.sdf</sdf>

  <author>
    <name>Lucas Tonini Rosenberg Schneider</name>
    <email>lucas.schneider@thunderatz.org</email>
  </author>

  <description>
    A IEEE - Very Small Size Soccer used for 5x5 matches.
  </description>
</model>
