<?xml version="1.0"?>

<model>
  <name>VSS Ball</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Felipe Gomes de Melo</name>
    <email>felipe.gomes@thunderatz.org</email>
  </author>

  <description>
    Simple orange golf ball used in IEEE - Very Small Size Soccer matches
  </description>
</model>